@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto');

.bk-bg {
  background-color: #fff;
  margin-top: 0.938rem;
  border-radius: 5px;
}

.category {
  opacity: 0.5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.category::first-letter {
  text-transform: uppercase;
}

.title {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.title::first-letter {
  text-transform: uppercase;
}

.btn {
  border-right: 1px solid #e8e8e8;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.r-num {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  opacity: 0.5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.bd-r {
  border-right: 1px solid #e8e8e8;
}

.chpt {
  opacity: 0.5;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.prog-chpt {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.update {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
